#style1{
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
}

#style2{
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
}

#style3{
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
}

#style4{
    width: 80%; 
    height: 300px;     
    border-radius: 21px 21px 0 0;
}

#style5{
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
}

#style6{
    width: 80%; height: 300px; border-radius: 21px 21px 0 0;
}

#style7{
    width: 80%; height: 300px; border-radius: 21px 21px 0 0;
}

#style8{
    width: 80%; height: 300px; border-radius: 21px 21px 0 0;
}